body {
    font-family: Arial;
    margin: 0;
    background: #fafafa;
}

nav {
    background: #222;
    padding: 15px;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

.container {
    padding: 20px;
}

.card {
    background: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
}
